body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  width: 100%;
  float: left;
}

.header header {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.header header nav a {
  padding: 0 0 0 20px;
  color: #000;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
}

h1 {
  float: left;
  margin: 0;
}

.logo {
  width: 50%;
}

.footer_main {
  width: 100%;
  float: left;
  padding: 80px 0;
  background: #f9f9f9;
  margin-top: 100px;
}

.breadcrumb {
  display: flex;
  gap: 10px;
  float: left;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.breadcrumb a {
  text-decoration: none;
  color: #000;
}

.isComponent {
  color: red;
}

.displaynone {
  display: none;
}

.products_main {
  float: left;
  margin-top: 50px;
  width: 100%;
}

.products_main h1 {
  float: left;
  width: 100%;
  margin-bottom: 50px;
}

.products_main_inner {
  float: left;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.products_main_inner .product_card {
  width: 28.9%;
  background: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  color: #000;
  text-decoration: none;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.products_main_inner .product_card h2 {
  margin: 0;
}

.products_main_inner .product_card p {
  margin: 0;
}

.product_details_main h1 {
  width: 100%;
  float: left;
  margin-bottom: 30px;
}

.back_to_product {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  color: red;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  float: left;
  width: 100%;
  margin-bottom: 40px;
  align-items: center;
  gap: 10px;
}

.back_to_product svg {
  width: 25px;
  height: 25px;
  fill: red;
}

.dflex {
  display: flex;
}

.gap10 {
  gap: 10px;
}
